<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header (click)="openAccountDetails()">
        <ion-toolbar class="big-toolbar">
          <!--<ion-title>Luis Fernando</ion-title>-->
          <ion-grid fixed>
            <ion-row>
              <ion-col size="4">
                <ion-icon name="contact" color="warning" style="font-size: 3em; padding-top: 0.15em; padding-left: 0.15em"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <h4 color="primary" style="position: absolute;bottom: 0">{{ userdata.username }}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" [color]="p.color"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
