<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" start (click)="leave()" color="danger">
        <ion-ripple-effect></ion-ripple-effect>
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" end (click)="save()" color="primary">
        <ion-ripple-effect></ion-ripple-effect>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
</ion-content>
