<ion-header no-border>
  <ion-toolbar>
    <ion-button fill="outline" start (click)="leave()" color="dark">
      <ion-ripple-effect></ion-ripple-effect>
      Cerrar
    </ion-button>
    <ion-title>{{ currentCMA.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-fab color="dark" vertical="bottom" horizontal="end" slot="fixed" (click)="call()">
    <ion-fab-button>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div padding>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-segment [(ngModel)]="currentSegment" value="map" color="warning">
            <ion-segment-button value="map">
              <ion-label color="dark">Ubicación</ion-label>
              <ion-icon color="dark" name="pin"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="about">
              <ion-label color="dark">Información</ion-label>
              <ion-icon color="dark" name="information-circle"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="comments">
              <ion-label color="dark">Opiniones</ion-label>
              <ion-icon name="text" color="dark"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  <div>
    <div class="full-size" [hidden]="currentSegment != 'map'">
      <div id="taller-map">
        
      </div>
    </div>
    
    <div class="full-size" [hidden]="currentSegment != 'about'">
      <div padding>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Valoración</ion-card-subtitle>
                  <ion-card-title>
                      <ion-icon name="star" color="warning" *ngFor="let star of starsCmaRate[0]"></ion-icon>
                      <ion-icon name="star-half" color="warning" *ngIf="starsCmaRate[1] == 0.5"></ion-icon>
                      <ion-icon name="star" color="warning" *ngIf="starsCmaRate[1] == 1"></ion-icon>
                      <ion-icon name="star" color="light" *ngFor="let star of starsCmaRate[2]"></ion-icon>
                      <strong>{{ currentCMA.grade_average }}</strong>
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Dirección del taller</ion-card-subtitle>
                  <ion-card-title>{{ currentCMA.address }}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <h1>Conoce el lugar:</h1>
              <br>
              <ion-card>
                <img [src]="currentCMA.cmv_image_url" alt="Mechanicapp">
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Horarios de apertura</ion-card-subtitle>
                  <ion-card-title></ion-card-title>
                  <ion-card-content>
                    <ion-list>
                      <ion-item *ngFor="let h of horarios">
                        <ion-label>{{ h }}</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Encargado del taller</ion-card-subtitle>
                  <ion-card-title>Anónimo</ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Servicios que ofrece</ion-card-subtitle>
                  <ion-card-content>
                    <ion-list>
                      <ion-item *ngFor="let s of services">
                        <ion-label>{{ s }}</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    
    <div class="full-size" [hidden]="currentSegment != 'comments'">
      <div padding>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <form [formGroup]='commentFormGroup'>
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Valoración</ion-card-subtitle>
                    <ion-card-title>
                      <rating formControlName="rate"
                      readonly="false"
                      size="default">
                    </rating>
                  </ion-card-title>
                  <ion-card-content>
                    <ion-grid fixed>
                      <ion-row>
                        <ion-col size="12">
                          <ion-textarea style="color: black !important; font-weight:bold !important" formControlName="title" style="border-bottom: solid 1px #488aff !important" placeholder="Título"></ion-textarea>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <ion-textarea formControlName="comment" style="border-bottom: solid 1px #488aff !important" placeholder="Escribe tu opinión"></ion-textarea>
                        </ion-col>
                        <ion-col size="12">
                          <ion-button color="tertiary" [disabled]="commentFormGroup.invalid" (click)="eval()" expand="full">
                            Enviar
                            <ion-icon slot="end" name="send"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card-header>
              </ion-card>
            </form>
          </ion-col>
          <ion-col size="12" *ngFor="let comentario of currentCMA.cmv_reviews">
            <ion-card>
              <ion-card-header>
                <ion-icon name="star" class="star" *ngFor="let estrella of [].constructor(comentario.stars)"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <ion-card-subtitle>{{ comentario.title }}</ion-card-subtitle>
                <br>
                {{ comentario.content }}
                <br>
                <small>- {{ ''+comentario.date.substring(0,10) }}</small>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
</div>
</ion-content>