.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
h1
{
  color: #7bc6cc;
}

ion-card
{
  background-color: rgba(252, 252, 252,1);
  color: #7bc6cc !important;
}

.star
{
  --color: #fcbf32 !important;
  color: #fcbf32 !important;
}

$content-padding:16px;
page-truncated-slider {
  ion-slides[card-slides]{
    height: 15em !important;
    margin-left: -$content-padding;
    border: solid 1px black;
    width: calc(100% + #{$content-padding*2});
    .swiper-container {
      padding-bottom: 30px;
    }
    .swiper-slide, .swiper-container, .swiper-wrapper {
      //height: auto;
      height: 15em !important;
    }
    .swiper-slide .slide-zoom, .swiper-slide .card {
      //height: 100%;
      height: 15em !important;
    }
  }
}
/*
ion-content.background{
  --background: url('../../assets/background.png') 0 0/100% 100% no-repeat;
}*/

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
{
  bottom: 0em !important;
}

.swiper-pagination
{
  bottom: 0em !important;
}