<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="warning"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mechanicapp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText="Desliza para buscar talleres cerca de tí"
      refreshingSpinner="circles"
      refreshingText="Buscando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="palabraBuscada" debounce="500" animated placeholder="¿Buscas algún taller o servicio?" (search)="buscar($event)"></ion-searchbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-text color="dark">
          <h2 style="font-weight:bold">Talleres cerca de tí</h2>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-chip color="primary" style ="margin-top:1em;">
          <ion-label color="primary" style="font-weight:bold; font-size:1.25em">{{ cmasCercanos.length }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="cmasCercanos.length == 0 && isLoaded">
    <ion-row>
      <ion-col size="12">
        <div class="pc_cards_coral pc_card" style="height: 105% !important">
            <div class="top_card">
              No hay talleres cerca de tí
            </div>
            <div class="content_card">
                <!--<i class="material-icons pc_card_icon" style="font-size: 5em !important">arrow_back</i>-->
                <ion-icon class="pc_card_icon" name="sad"></ion-icon>
            </div>
            <div style="color: white !important; margin: 0  auto !important; text-align: center">
                <small style="font-weight:bold;">Desliza hacia abajo para volver a buscar</small>
            </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides card-slides slidesPerView="1.18" zoom="false" spaceBetween="5" pager="true" style="padding-bottom: 2em !important" *ngIf="cmasCercanos.length > 0">
    <ion-slide *ngFor="let taller of cmasCercanos">
      <ion-card (click)="openServiceDetails(taller.id)">
        <img [src]="taller.cmv_image_url" style="max-height: 250px !important; height: 250px !important" alt="Mechanicapp">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle color="dark">A {{ taller.distance }} metros de tí</ion-card-subtitle>
          <ion-card-title color="warning">{{ taller.name }}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- Primeros auxilios, llamar a contacto de emergencia -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="dark">
          <h2 style="font-weight:bold">Emergencias</h2>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="pc_cards_coral pc_card" (click)="call911()">
          <div class="top_card">

          </div>
          <div class="content_card">
            <ion-icon class="pc_card_icon" name="car"></ion-icon>
          </div>
          <div style="color: white !important; margin: 0  auto !important; text-align: center">
            <small style="font-weight:bold; font-size:1.25em">911</small>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="pc_card_lane pc_card">
            <div class="top_card">

            </div>
            <div class="content_card" (click)="callEmergencyContact()">
              <ion-icon class="pc_card_icon" name="person"></ion-icon>
            </div>
            <div style="color: white !important; margin: 0  auto !important; text-align: center">
              <small style="font-weight:bold; font-size:0.8em">Contacto de emergencia</small>
            </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
