<ion-header translucent="true">
  <ion-toolbar>
    <ion-button fill="clear" start (click)="leave()" color="dark">
      <ion-ripple-effect></ion-ripple-effect>
      Cerrar
    </ion-button>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" padding>
  <h1 style="font-weight: bold; font-size: 1.35em">
    Información básica
  </h1>
  
  <form [formGroup]='updateFormGroup'>
    <ion-item-group>
      <ion-item>
        <ion-label>
          Nombre:
        </ion-label>
        <ion-input formControlName="name" outlineInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          Nombre de usuario:
        </ion-label>
        <ion-input formControlName="username" outlineInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          Apellidos:
        </ion-label>
        <ion-input formControlName="lastname" outlineInput></ion-input>
      </ion-item>
    </ion-item-group>
    <br>
    <ion-item-group>
      <h1 style="font-weight: bold; font-size: 1.35em">Seguridad</h1>
      <br>
      <ion-button (click)="updateMyData()" color="warning" fill="outline" [disabled]="updateFormGroup.invalid">
        <ion-ripple-effect></ion-ripple-effect>
        Actualizar mis datos
      </ion-button>
    </ion-item-group>
  </form>


    <ion-item-group>
      <h1 style="font-weight: bold; font-size: 1.35em">Rango de búsqueda</h1>
      <br>
      <ion-item>
        <ion-range [(ngModel)]="rangoBusqueda" min="500" max="20000" step="100" pin="true" snaps="true" ticks="true" color="warning" debounce="1000" (ionChange)="updateDistance()">
          <ion-label slot="end">{{ rangoBusqueda }} metros</ion-label>
        </ion-range>
      </ion-item>
    </ion-item-group>

    
    <br>
    <ion-item-group>
      <h2 style="font-weight: bold; font-size: 1.35em;">Tu cuenta</h2>
      <br>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button color="primary" fill="outline" (click)="cerrarSesion()">
              <ion-ripple-effect></ion-ripple-effect>
              Cerrar mi sesión
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="danger" fill="outline" (click)="deleteAccount()">
              <ion-ripple-effect></ion-ripple-effect>
              Eliminar mi cuenta
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-group>
</ion-content>
